@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default browser styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    /* Consistency with App.vue */
    @apply dark:bg-gray-900 dark:text-white transition-colors duration-300;
}